@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Pangolin&family=Permanent+Marker&display=swap');

@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');

/* declaring variables */
:root {
    --brightyellow: #ffd900;
    --darkbrown: #bb9457;
    --yellow: rgb(242, 180, 80);
    --brown: #382923;
    --grey: #a9b2ac;
    --black: #191919;
    --whitish: #f3f4f7;
    --light-gray: #52565e;

}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    height: 100%;
    font-family: 'Noto Sans', sans-serif;
    background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url('../assets/img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    color: var(--black);
}

/* global style */
.bella-fonts {
    font-family: 'La Belle Aurore', cursive;
}

/* end of global style */
/* header */
.header {
    height: 100vh;
    display: grid;
    grid-template-columns: 80%;
    justify-content: center;
    align-items: center;
    position: relative;
}



/* banner */
.banner {
    text-align: center;
    z-index: 5;
    top: 50%;
    margin-top: 8rem;
}

.banner_title {
    font-size: 7rem;
    text-transform: capitalize;
    color: var(--whitish);

}


.banner_social-icon {
    display: block;
    text-decoration: none;
    color: var(--whitish);
    border: 0.15rem solid var(--whitish);
    border-radius: 50%;
    padding: 0.25rem;
    transition: all 0.5s linear;
}

.banner_social-icon:hover {
    background: #c9510c;

    color: var(--whitish);
}

.banner_icons {
    width: 50%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 4rem 4rem 4rem 4rem 4rem;
    /* grid-template-columns: repeat(5, 3rem); */
    grid-column-gap: 0.5rem;
    justify-content: center;
}


/* video */
.video_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.video_item {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* navBtn */
.navBtn {
    position: fixed;
    top: 5%;
    right: 5%;
    font-size: 3.5rem;
    color: var(--black);
}